{% extends 'index.html' %}
{% block upper %}
<br><br><br>
<div class="card mx-auto my-5 w-75 boxshadow">
  <h1 class="text-center"> ABOUT US </h1>
  <p> Welcome to Brooklyn Analysis! We designed this tool as an aid to investors who are curious about the spread of exchange-traded fund prices above or below the fund's net asset value. We have cached data from iShares and Invesco, so there is a wide selection of tickers to choose from. Users can compare the performance of the ETF to an identically weighted portfolio containing the same stocks. In order to do more data analysis, we have enabled users to manually adjust the weights of each holding in the identically generated portfolio. We hope that by using this tool, investors will be able to judge the effects of investor sentiment on ETF data to better understand the trends that occur with discounts and premiums. This site is built and maintained by Benjamin Shpetner, Biraj Chowdhury, and Alexander Thompson.  </p>
</div>
{% endblock %}
