
{% extends 'index.html' %}

{% block head %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
{% endblock %}

<!-- Create a div where the graph will take place -->
{% block upper %}

<script src="https://d3js.org/d3.v4.js"></script>

<br><br><br>

<div class="card mx-auto w-75">
  <div class="card-body mx-auto w-100">

    <h5 class="text-center">Select an ETF and a time period </h5>
    <div class='border my-3'></div>
    <div class="form-inline">
      <!-- <span> -->
    <label for='pickETF'class="label label-default">ETF Ticker:</label>
      <!-- </span> -->
  <select id="pickETF" class="selectpicker mx-auto" data-live-search="true">
    <option data-token="" value=""></option>
    {% for option in options %}
    <option data-tokens={{option}} value={{option}}>{{option}}</option>
    {% endfor %}
  </select>
  <label for='startPick'class="label label-default">Start year:</label>
  <select id='startPick'class="selectpicker mx-auto w-25" data-live-search="true" onchange="updateStartEnd()">
    <option data-token="" value=""></option>
    <option data-token="2015" value="2015">2015</option>
    <option data-token="2015" value="2016">2016</option>
    <option data-token="2015" value="2017">2017</option>
    <option data-token="2015" value="2018">2018</option>
    <option data-token="2015" value="2019">2019</option>
  </select>
  <label for='endPick' class="label label-default">End year:</label>
  <select id='endPick'class="selectpicker mx-auto w-25" data-live-search="true" onchange="updateStartEnd()">
    <option data-token="" value=""></option>
    <option data-token="2015" value="2020">2020</option>
    <option data-token="2015" value="2019">2019</option>
    <option data-token="2015" value="2018">2018</option>
    <option data-token="2015" value="2017">2017</option>
    <option data-token="2015" value="2016">2016</option>
  </select>
  </div>
  </div>
</div>

<div class="card-deck mt-5 mx-5">

  <div class="card mx-5">
    <div class="card-body mx-auto">
      <h5 id="title0" class="card-title mx-auto">Currently Displaying {{ETFDict['Ticker']}} data from past 5 years</h5>
    </div>
    <span class="border"></span>
    <div class='mx-auto my-5'style='height:300px'id="graph1"></div>
    <span class="border"></span>
    <div class="card-body mx-auto">
      <p id="label0"> This graph depicts the price history of {{ETFDict['Ticker']}} over the last five years </p>
    </div>
    <span class="border"></span>
  </div>

  <div class="card mx-5">
    <div class="card-body mx-auto">
      <h5 id="title1" class="card-title mx-auto">Displaying graph of {{ETFDict['Ticker']}} made up of its parts</h5>
    </div>
    <span class="border"></span>
    <div class='mx-auto my-5'style='height:300px'id="graph2"></div>
    <span class="border"></span>
    {% if ETFDict['excludedWeight'] > 0%}
    <div class="card-body mx-auto">
      <p id="label1"> These results are about {{ETFDict['excludedWeight']}}% off because some historical data for the holdings was unavailable </p>
    </div>
    <span class="border"></span>
    {% endif %}

  </div>

</div>

<div class="card mx-auto my-5 w-75">
  <div class="card-body mx-auto w-100">
    <div class="row">
      <div class='col-2 mx-5'>
      <button class="btn btn-outline-success mx-auto" onclick="updateWeighting()"> Update Weighting </button>
      </div>
      <div class='col-6 mx-auto'>
    <h5 id="holding" class="card-title ml-5">List of holdings included for {{ETFDict['Ticker']}}</h5>
    </div>
    <div class='col-2 mx-auto'>
      <button class="btn btn-outline-danger mx-auto" onclick="setWeightsZero()"> Set all to zero </button>
    </div>
    </div>
  </div>
  <span class="border"></span>
  <ul id="listholdings" class="list-group">
    {% for holding in ETFDict['holdings']%}
    <li class="list-group-item">
      <div class='row'>
        <div class="col-8">
          <p>  {{holding}} </p>
        </div>
        <span class="border"></span>
        <div class="col-2">
          <div class='row'>
            <div class="col">
              <input id="w-{{holding}}"type='text' class="form-control w-100" value="{{'%.3f'%(ETFDict['holdings'][holding]['Weight'])}}"></input>
            </div>
            <div class="col-1">
              <p>%</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
</ul>
</div>
<script src="static/js/comp.js"></script>
<script src="static/js/draw-graph.js"></script>

<script>
// var ratiler = draw_graph("{{ETFDict['Ticker']}}" + ".csv",'2015-01-02', '2020-01-03')
draw_graph("{{ETFDict['Ticker']}}" + ".csv",'2015', '2020');
// console.log(ratiler);
var converted = {{ETFDict | safe}};
console.log(converted);
compileETF(converted,'2015', '2020');
</script>
{% endblock %}
