{% extends 'index.html' %}



<!-- Code from d3-graph-gallery.com -->
<!DOCTYPE html>
<meta charset="utf-8">


<!-- Load d3.js -->

<!-- Create a div where the graph will take place -->
{%block upper %}
<script src="https://d3js.org/d3.v4.js"></script>
<br><br><br>
<div class="card-deck mt-5 mx-5">
  <div class="card mx-5">
    <div class="card-body mx-auto">
      <h5 class="card-title mx-auto">Currently Displaying {{ETFDict['Ticker']}} data from past 5 years</h5>
    </div>
    <span class="border"></span>
    <div class='my-5'style='height:300px'id="graph1"></div>
  </div>
  <div class="card mx-5">
    <div class="card-body mx-auto">
      <h5 class="card-title mx-auto">Displaying graph of {{ETFDict['Ticker']}} made up of it's parts</h5>
    </div>
    <span class="border"></span>
    <div class='my-5'style='height:300px'id="graph2"></div>
  </div>
</div>
<script src="static/js/require.js"></script>
<script src="static/js/draw-graph.js"></script>
<script>
draw_graph("{{ETFDict['Ticker']}}" + ".csv",'2015-01-02', '2020-01-03')
console.log({{ETFDict | safe}})
compileETF({{ETFDict | safe}})
</script>
{% endblock %}
